{% extends 'blog/base.html' %}
{% block content %}
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-8">
                    <h1>Web Developer Blog</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, voluptate.</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
