{% extends 'blog/base.html' %}
{% block content %}
    <h1>Регистрация</h1>
<form method="post">
    {% csrf_token %}
        <p><label class="col-3" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label> {{ form.username }} </p>
        <p><label class="col-3" for="{{ form.password1.id_for_label }}">{{  form.password1.label }}</label> {{  form.password1 }} </p>
        <p><label class="col-3" for="{{ form.password2.id_for_label }}">{{  form.password2.label }}</label> {{  form.password2 }} </p>
    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}
